body {
    font-family: Arial;
    padding: 20px;
    background: #f3f3f3;
}
h2 {
    color: #333;
}
.ssid {
    padding: 15px;
    border: 1px solid #ddd;
    margin: 10px 0;
    border-radius: 8px;
    cursor: pointer;
    background: #fff;
}
.ssid:hover {
    background: #e9e9e9;
}
